*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    height: 260px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 45px 60px 30px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color:#2596be;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: black
}

label{
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 254, 254, 0.821);
    border-radius: 3px;
    padding:0 10px;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 300;
    border:1px solid rgb(168, 168, 168);
}
input:focus{
    border:1px solid #2596be;
}

button{
    margin-top: 30px;
    width: 30%;
    background-color: #88ccef;
    color: #080710;
    padding: 12px 0;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #039dd5;
    color: white;
}

